<p>
  replay-search works!
</p>

<table class="table">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Map</th>
      <th>Course</th>
      <th>Mode</th>
      <th>Time</th>
      <th>Teleports</th>
      <th>Created</th>
      <th>Replay</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let replay of replays | async">
      <td><a href="#{{replay.steam_id32}}">{{replay.alias}}</a></td>
      <td>{{replay.map}}</td>
      <td>{{replay.stage}}</td>
      <td>{{replay.mode}}</td>
      <td>{{replay.run_time}}</td>
      <td>{{replay.teleports}}</td>
      <td>{{replay.created}}</td>
      <td><a [routerLink]="['/replay', replay.id]">Watch</a></td>
    </tr>
  </tbody>
</table>