<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      Ruto
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMobile" (click)="toggleNav()" [ngClass]="isMobile ? 'is-active' : ''">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMobile" class="navbar-menu" [ngClass]="isMobile ? 'is-active' : ''">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>

      <a class="navbar-item" routerLink="/replays">
        Replays
      </a>
      <a class="navbar-item" [routerLink]="['replay', 143]">Replay Test</a>
      <a class="navbar-item" [routerLink]="['map', 'kz_reach_v2']">Map Test</a>
    </div>
  </div>
</nav>
