.map-viewer::ng-deep {
    position: absolute;
    top: 72px;
    left: 32px;
    right: 32px;
    bottom: 32px;
    background-color: black;

    canvas {
        width: 100%;
        height: 100%;
    }

    &:-webkit-full-screen {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
}